<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Temperature', 'Date'],
          ['30 janvier 2017', 10.61, 9.41],
          ['31 janvier 2017', 9.15, 9.12, 9.506, 9.633, 10.185, 11.507, 10.945, 10.061],
          ]);

        var options = {
          title: 'Evolution des temp&eacute;ratures de la vile de Tawarano',
          legend: { position: 'none' },
        };

        var chart = new google.visualization.Histogram(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
  </body>
</html>
