<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evolution des températures de la ville de Tawarano</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div style="width: 80%; margin: auto;">
        <canvas id="myChart"></canvas>
    </div>

    <script>
          var data = google.visualization.arrayToDataTable([
    ['Date', 'Temperature'],
    ['30 janvier', 10.61],
    ['30 janvier', 9.41],
    ['31 janvier', 9.15],
    ['31 janvier', 10.185],
    ['31 janvier', 11.507],
    ['1 février', 11.029],
    ['1 février', 12.552],
    ['1 février', 8.706],
    ['2 février', 10.556],
    ['2 février', 11.605],
    ['2 février', 10.419],
    ['3 février', 11.884],
    ['3 février', 13.008],
    ['3 février', 10.668],
    ['4 février', 10.007],
    ['4 février', 12.113],
    ['4 février', 12.756],
  ]);
        // Données pour l'histogramme
        const labels = ['30/01', '31/01', '01/02', '02/02', '03/02', '04/02'];
        const data = {
            labels: labels,
            datasets: [{
                label: 'Température',
                data: [0, 10, 20],
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        };

        // Configuration de l'histogramme
        const config = {
            type: 'bar',
            data: data,
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        };

        // Rendre l'histogramme dans le canvas
        const myChart = new Chart(
            document.getElementById('myChart'),
            config
        );
    </script>
</body>
</html>

